#header{
  >.top{
    position: relative;

    >span{
      color:red;
      font-size: 1.5em;
    }
    span.fl{
      top: 10px;
      position: absolute;
      left: 20px;
    }
    span.fr{
      position: absolute;
      top: 10px;
      right: 20px;
    }
    >h1{
      color: black;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      padding: 10px 0;
      background-color: lightgray;
      border-bottom: 1px solid black;
    }
  }

  >.container{
    >.popFrame{
      >ul{
        >li{
          width: 100%;
          height: 30px;
          line-height: 30px;
          border-bottom: 1px solid black;
        }
      }
    }
  }

}

#slide_home{
  >.container{
    >#carousel-example-generic{
      position: relative;
      >.carousel-indicators{
         position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
        width: 100%;
      }
      >.carousel-inner{
        >.item{
            >p{
              position: absolute;
              bottom: -10px;
              right: 0;
              background-color: black;
              width: 100%;
              text-align: left;
              opacity: 0.8;
              color: #ffffff;
          }
        }
      }
    }
  }
}

#main-tab{
  >.container{
    >.tab{
      border: 2px solid lawngreen;
      padding: 5px 0;
      >ul{
        >li{
            float: left;
            width: 25%;
            text-align: center;
        }
      }
    }
    >.main{
      box-sizing: border-box;
      >ul{
        display: none;
        >li{
          box-sizing: border-box;
          width: 50%;
          float: left;
          position: relative;
          padding: 0 5px;

          >a{
            >p{
              width: 100%;
              background-color: black;
              opacity: 0.8;
              color: #ffffff;
              position: absolute;
              bottom:20px;
              left: 0;
              text-align: center;
            }
          }
          >p{
            text-align: center;
            height: 20px;
          }
        }
      }
    }
  }
}